/* $Id: combine.css,v 1.4 2010/10/18 17:40:33 aross Exp $ */

/**
 * @file
 * Combine custom color scheme
 *
 * dark green  : #1D636A
 * light green : #89CD3B
 * yellow      : #DEDB29
 * grey        : #BAB0B3
 *
 */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
  background-image: url(images/blue/body_bg.gif);
  color: #323232;
}

a {
  color: #89CD3B;
  /* background: #89CD3B;*/
  /* padding:2px*/
}

a:link {
  color: #1D636A;
}
a:visited {
  color: #1D636A;
}

a:hover {
  color: #89CD3B;
}

#page {
  border: 1px solid #bbb;
  background-color: #fff;
}

/*
// Put a background on links in the main text content (class = node)
.node a {
  background: #89CD3B;
  padding:2px
  // border-radius: 1px;
  -moz-border-radius: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
*/

.node a {
  text-decoration: underline;
}

h1 {
  color: #1D636A;
  /*  background-color: #1D636A;*/
  text-align: left; 
  border-bottom: solid #1D636A;
  padding: 10px;
  /* border-width: medium;*/
}
h1.title {
  color: #1D636A;
  background-color: #D3ECB6;
  text-align: center; 
  border: solid #1D636A; 
  border-width: thin;
}
h2 {
  color: #FFFFFF;
  background-color: #1D636A;
  text-align: left; 
  padding: 10px;
#  border: solid #CCAAAA; 
}


/** ------------------------------ HEADER --------------------------------- **/

#header .section {
  padding: 1px;
  /*background: #fff url(images/white/header_bg.gif) top left repeat-x;*/
}

#site-name a:link,
#site-name a:visited {
  color: #89CD3B;
}

#site-slogan {
  color: #1A8D00;
}

#secondary,
#secondary a {
  color: #1A8D00;
}

#logo {
  margin: 0;
}

#logo-title {
  margin: 0;
}


/* Suckerfish menus (primary links in top nav) */

#navigation{
  background: #1D636A; /* url(images/blue/primary_bg.gif) top left repeat-x; */
  border-top: 1px solid #194B9D;
  border-bottom: 3px solid #DEDB29;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
  color: #5FC202;
  text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
  background-color: #4880B9;
  border: 1px solid #8FAEE1;
  border-top: 0px;
}

#suckerfishmenu ul.menu li ul a:hover {
  background-color: #0E4B91;
}

#suckerfishmenu ul.menu ul {
  border-top: 1px solid #8FAEE1;
}


/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
  background-color: white;
  border-top: 1px solid #DEDB29;
  color: #1D636A;
}

#footer h2 {
  display: none;
}

#footer .section {
  padding: 0px 0px;
}

#footer .block {
  margin-bottom: 0px;
}

#footer p {
  margin-top: 3px;
  margin-bottom: 3px;
}


/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a,
.node .terms ul.links.inline li a {
  color: #47841E;
}


/** ----------------------------- BLOCKS ---------------------------------- **/

.region-sidebar-first .block h2.title {
  background: #1D636A; /* url(images/blue/primary_bg.gif) top left repeat-x; */
  border: 1px solid #194B9D;
}

.region-sidebar-first .block .content {
  background-color: #FFF;
  border: 2px solid #DEDB29;
}

/* Clear styling to remove header on center and right blocks */

.region-sidebar-second .block .content,
#content .block .content {
  border: none;
  padding: 0;
  background: none;
}

.region-sidebar-second .block h2.title,
#content .block h2.title {
  padding: 0 0 10px 0;
  color: #323232;
  background: none;
  border: none;
}

.region-sidebar-second .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  border: 1px solid #AFC4E7;
  background: #afc4e7 url(images/blue/bl_block.gif) top left repeat-x;
}

.region-sidebar-second .block-2,
.region-sidebar-second .block-4,
.region-sidebar-second .block-6,
.region-sidebar-second .block-8 {
  border: 1px solid #AFDA90;
  background: #b0d098 url(images/blue/gr_block.gif) top left repeat-x;
}

#mission,
#content .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  border: 1px solid #D6D6D6;
  background: #d1d1d1 url(images/blue/block1.gif) top left repeat-x;
}

#mission {
  font-weight: bold;
}


/** -------------------- CUSTOM BULLETS IN BLOCKS ------------------------- **/

.block ul li {
  list-style-type: circle;
  list-style-image: url(images/blue/menu-leaf2.png);
}

.block ul li.collapsed {
  list-style-image: url(images/blue/menu-collapsed-rtl.png);
}

.block ul li.expanded {
  list-style-image: url(images/blue/menu-expanded.png);
}

.block ul li.collapsed {
  list-style-image: url(images/blue/menu-collapsed.png); /* LTR */
}

.block ul li.leaf {
  list-style-image: url(images/blue/menu-leaf2.png);
}

/*
// Put a background on the active menu item
.block ul li.active-trail {
  background: #89CD3B;
}
*/


/** ------------------------------ TABLES ---------------------------------- **/

thead th {
  background: #B0D098;
  border: 1px solid #8BB76A;
}

tr.odd td, tr.even td {
  border:1px solid #BBD89C;
}

tr.odd td {
  background:#FFFFFF;
}

tr.even td {
  background:#EAF4E0;
}


/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #234A8E;
}
.poll .bar .foreground {
  background-color: #1c9201;
}


/** ------------------------------- BUTTONS -------------------------------- **/

.form-submit {
  padding: 2px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top: 1px solid #72C47B;
  border-right: 1px solid #00730D;
  border-bottom: 1px solid #00730D;
  border-left: 1px solid #72C47B;
  color: #fff;
  font-weight: bold;
  background: #89CD3B url(images/blue/search.gif) top left repeat-x;
}
